@import './reset.css';
@import '../Portofolio/styles/header.css';
@import '../Portofolio/styles/footer.css';
@import '../Portofolio/styles/body.css';

.main{
    background-color: rgb(63, 226, 196);
}

/* .main .div{
     display: none; 
} */

.main .btn__active{
    background: rgb(102, 233, 248);
    border-color: transparent;
    border: 0;
}

.main .btn__inactive{
    border: 0;
}

.main .box__descriptions{
    margin: 0 auto;
    display: none; 
}

.main .box__descriptions.box__active{
    display: block;
    background: rgb(102, 233, 248);
    width: 60%;
    height: 30%;
    padding: 10px;
}

.main .box__info{
     margin-left: 20%;
}

.main .section__myinfo{
    padding: 5%;
}

.main .section{
    padding: 5%;
}

.main .cell{
    padding: 5%;
}

.main .section .skill__box{
    display: inline;
}

.main .head__text{
    font-weight:bold;
    font-size: 140%;
}

@media (max-width: 600px) 
{
  .avatar 
   {
    display: none;
   }
}

.column {
    float: left;
    width: 50%;
    text-align: center;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }