@import './reset.css';
@import '../Portofolio/styles/header.css';
@import '../Portofolio/styles/footer.css';
@import '../Portofolio/styles/body.css';

.main{
    background-color: #1FAFBF;
}

.main div{
    display: none
}

.main .btn__active{
    background: #9BDAF2;
    border-color: transparent;
    border: 0;
}

.main .btn__inactive{
    border: 0;
}

.main .box__active{
    display: block;
    background: #9BDAF2;
    width: 60%;
    height: 30%;
    padding: 10px;
}

.main .box__info{
     margin-left: 20%;
}

.main .section__myinfo{
    padding: 5%;
}

.main .section{
    padding: 5%;
}

.main .section .skill__box{
    display: inline;
}

.main .box__descriptions{
    margin: 0 auto;
}

@media (max-width: 600px) 
{
  .avatar 
   {
    display: none;
   }
}